body,
html {
    height: 90%;
}

.navBtn {
    background-color: orangered;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 15px;
    transition-duration: 0.4s;
    border-radius: 20px;
    cursor: pointer;
}

.navBtn:hover {
    background-color: orange;
    box-shadow: 4px 4px 15px orangered;
    color: black;
    transform: scale(1.1);
    border-radius: 10px;
}

.navbar {
    text-align: center;
}

.homeImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 150;
    width: 40%;
}

.gymOptions {
    display: grid;
    align-items: center;
    justify-content: center;
}

.gymBtn {
    background-color: coral;
    color: white;
    text-decoration: none;
    font-size: 35px;
    text-align: center;
    padding: 12px 25px;
    margin: 7px;
    border-radius: 10px;
    width: 600px;
    transition-duration: 0.4s;
}

.gymBtn:hover {
    background-color:orange;
    color: black;
    box-shadow: 4px 4px 15px orangered;
    transform: scale(1.1);
}

h3 {
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px red;
}

h2 {
    text-align: center;
    color: white;
}

body {
    background-image: url("../resources/pexels-photo-1552252.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}